.logo {
  padding: 0 33%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: 100px;
    width: 96px;
  }
}

.wrapper {
  margin-top: 50px;
}

.ticket_part {
  margin-left: 35vw;
}
