.wrapper {
  background: #ffffff;
  border: 2px solid #0056b3;
  border-radius: 10px;
  padding: 5px 10px;
  width: 50vw;
  cursor: pointer;
  margin-bottom: 10px;
}

.main {
  display: flex;
  justify-content: space-around;
}

.detail {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  p {
    text-align: center;
    height: auto;
  }
}
