.wrapper {
  position: fixed;
  background: #ffffff;
  border: 2px solid #007bff;
  border-radius: 10px;
  width: 25vw;
  padding: 5px 10px;
  margin-top: 15vh;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;

  input[type="checkbox"] {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    width: 200px;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid #007bff;
      border-radius: 8px;
      margin-right: 10px;
      background-color: #fff;
      transition: background-color 0.3s, border-color 0.3s;
    }
    @media (max-width: 550px) {
      font-size: 0.5rem;
    }
  }

  input[type="checkbox"]:checked + label::before {
    background-color: #007bff;
    border-color: #0056b3;
    content: "✔";
    color: #fff;
    text-align: center;
    line-height: 18px;
    @media (max-width: 550px) {
      font-size: 0.5rem;
    }
  }
}
.search {
  input {
    all: unset;
    border: 1px solid #0056b3;
    background-color: #fff;
    height: 2rem;
    width: 100%;
    border-radius: 8px;
  }
}
